
<template name="Admin">
	<div class="container">
		<header>
			<h1>Admin Page</h1>
		</header>
	</div>
	<div id="player"></div>
	<br>
	<label id="title" ></label>
	<br>
	<span style="display: inline;">
		<label id="elapsed"></label>
		<label >/</label>
		<label id="duration"></label>
	</span>
	<br>
	<span style="display: inline;">
		<input id="playPauseButton" type="button" value="Pause" OnClick="playPauseClick()"/>
		<input id="skipButton" type="button" value="Skip" OnClick="skipClick()"/>
	</span>

	<script>
		var queue = [];
		queue.push('uxpDa-c-4Mc');
		queue.push('YQHsXMglC9A');
		queue.push('QcIy9NiNbmo');
		var tag = document.createElement('script');
	
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
	
		var player;
		function onYouTubeIframeAPIReady() {
			player = new YT.Player('player', {
				height: '400',
				width: '600',
				videoId: '0CFuCYNx-1g',
				playerVars: {
					'autoplay': 1,
					'controls': 0,
					'disablekb': 1,
					'enablejsapi': 1,
					'rel': 0
				},
				events: {
					'onReady': onPlayerReady,
					'onStateChange': onPlayerStateChange
				}
			});
		}

		function onPlayerReady(event) {
			document.getElementById("title").innerText = player.getVideoData().title;
			document.getElementById("duration").innerText = player.getDuration;
			event.target.playVideo();
		}

		function onPlayerStateChange(event) {
			if (event.data == YT.PlayerState.ENDED) {
				player.loadVideoById(queue.shift(), 0, "default");
				player.playVideo();	
				document.getElementById("title").innerText = player.getVideoData().title;
				document.getElementById("duration").innerText = player.getDuration();
			}
		}

		function playPauseClick(){
			var button = document.getElementById("playPauseButton");
				if(button.value == "Pause"){
					button.value = "Play";
					player.pauseVideo();
				}
				else{
				button.value = "Pause";
				player.playVideo()
			}

		}

		function skipClick(){
			player.loadVideoById(queue.shift(), 0, "default");
			player.playVideo();
			document.getElementById("title").innerText = player.getVideoData().title;
			document.getElementById("duration").innerText = player.getDuration();
		}


	</script>
	<!--{{> myButtons}}-->
</template>

