<template name="channel">
    {{#with channel}}
    <div class=playerbody>
      <section>
        <div class="headleft">
          <h1 class="roomtitle">{{title}}</h1>
          <h4 class="roomdesc">{{query}}</h4>
          <div class="upnext">
            {{#with nextS}}
              <h3 class="upnextsongname">Up next.. {{title}}</h3>
              <img src="{{thumbnail}}" class="historyQ">
            {{/with}}
          </div>
        </div>

         <div class="headright">
          {{> searchBox}}<p></p>
                    <p><br><a href="https://twitter.com/share" class="twitter-share-button" data-text="Listening to {{title}} on DJ-Cast" data-via="djcast_">Tweet</a></p>
          {{> qrCode }}
          {{> sourceSelect}}

        </div>
      </section>

      {{#with currentSong}}
        <div class="player">
          {{#if isModerator}}
            {{> Moderator videoId=videoID }}
          {{else}}
            <img src="{{thumbnail}}" class="playerimg">
          {{/if}}
          <div class="playermeta">
            <h3 class="songname">{{title}}</h3>
          </div>
        </div>
      {{/with}}

    <div class="historyQueue">
      {{#each getRecent}}
        <img src="{{thumbnail}}" class="historyQ">
      {{/each}}
    </div> 
  </div>
	{{/with}}
</template>

<template name="sourceSelect">
  <select id="src">
    <option value="youtube">Youtube</option>
    <option value="soundcloud">SoundCloud</option>
  </select>
</template>

<template name="qrCode">
  <button type="button">QR</button>
    <div class="showQr" style = "display:false;">
      {{> QrCode text=getCurrentUrl }}
    </div>
</template> 

<template name="searchBox">
  <input type="text" class="search" id="search-box" placeholder="search here">
    <div class="list-group">
    {{#each getSearchResults}}
        <a href="#" class="list-group-item">
        <div class="row">
          <div class="col-md-1">
            <img src="{{snippet.thumbnails.default.url}}" class="img-responsive"/>
          </div>
          <div class="col-md-11">
            <h4 class="list-group-item-heading">{{snippet.title}}</h4>
          </div>
        </div>
        </a>
    {{/each}}
    </div>
</template>

<template name="Moderator">
  <div id="player"></div>
  <br>
  <span style="display: inline;">
    <input id="playPauseButton" class="playskip" type="button" value="Pause" OnClick="playPauseClick()"/>
    <input id="skipButton" class="playskip" type="button" value="Skip"/>
  </span>

  <script>
    var tag = document.createElement('script');
  
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        height: '270',
        width: '480',
        videoId: '{{videoId}}',
        playerVars: {
          'autoplay': 1,
          'controls': 0,
          'disablekb': 1,
          'enablejsapi': 1,
          'rel': 0,
        },
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }

    function onPlayerReady(event) {
      event.target.playVideo();
    }

    function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.ENDED) {
        var channelId = FlowRouter.getParam('id');
        Meteor.call('/song/remove', Song.getLatest(channelId).fetch()[0], function(err, res) { 
          if (err) {}
            if (Song.getLatest(channelId).fetch()[0]) {
              player.loadVideoById(Song.getLatest(channelId).fetch()[0].videoID, 0, "default");
              player.playVideo();
            }
        });
      }
    }

    function playPauseClick(){
      var button = document.getElementById("playPauseButton");
        if(button.value == "Pause"){
          button.value = "Play";
          player.pauseVideo();
        }
        else{
        button.value = "Pause";
        player.playVideo()
      }

    }

    !function(d,s,id){
      var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
      if(!d.getElementById(id)){
        js=d.createElement(s);
        js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js,fjs);
      }
    }(document, 'script', 'twitter-wjs');

  </script>
</template>
