<template name="channel">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#with channel}}
    <div class=playerbody>
 
      <section>
        <div class="headleft">
          <h1 class="roomtitle">{{title}}       



<a id="twidget" href="https://twitter.com/share" class="twitter-share-button" data-text="I am listening to {{title}} on #djcast_" data-via="djcast_"></a>
<script>
{{#if isMobile}}

            {{else}}
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            {{/if}}


</script>
              
          {{#if isModerator}}
            {{> qrCode }}
          {{/if}}

          </h1>
          <h4 class="roomdesc">{{query}}</h4>
          <div class="upnext" id="next">
            {{#with nextS}}
              <h3 class="upnextsongname">Up next.. {{title}}</h3>
              <img src="{{thumbnail}}" class="historyQ">
            {{/with}}
          </div>
        </div>

         <div class="headright">
          {{> searchBox}}{{> suggestionModal}}{{#if isModerator}}
            {{> prepopulate }}
          {{/if}}<br>

          {{> sourceSelect}}

        </div>
      </section>

      {{#with currentSong}}
        <div class="player" id="playerbod">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

          {{#if isModerator}}
            {{> Moderator videoId=videoID source=source thumbnail=thumbnail}}
          {{else}}
            <img src="{{thumbnail}}" class="playerimg">
            <script type="text/javascript">
            {{#if isMobile}}
              document.getElementById("next").hidden = true;
              document.getElementById("history").hidden = true;
              document.getElementById("playerbod").hidden = true;
              document.getElementById("upcoming").hidden = true;
              document.getElementById("largeCreate").hidden = true;
              document.getElementById("twidget").hidden = true;
              document.getElementById("populate-button").hidden = true;              
            {{else}}
            {{/if}}

            </script>
          {{/if}}
        </div>
      <div class="playermeta">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <script type="text/javascript">
            {{#if isMobile}}
              document.getElementById("songnmm").hidden = false;
              document.getElementById("songnm").hidden = true;  
            {{else}}
              document.getElementById("songnmm").hidden = true;
              document.getElementById("songnm").hidden = false;
            {{/if}}

            </script>
            <h3 id="songnm" class="songname">{{title}}</h3>
            <h3 id="songnmm" class="songnamemobile">Currently Playing: <br>{{title}}</h3>
      </div>
      {{/with}}
    <div class="historyQueue" id="history">
      {{#each getRecent}}
        <img src="{{thumbnail}}" class="historyQ">
      {{/each}}
    </div>

    <div class="up" id="upcoming">
            <h3 class="queue-head">Upcoming Songs</h3>
    </div>


  <div class="queue-group" id="upcoming-songs">
    {{#if getQueue}}
      <!--<h3 class="queue-head">Upcoming Songs</h3>-->
      {{#each getQueue}}
        <a href="#" class="queue-group-item">
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-md-7">
            <h4 class="queue-group-item-heading" style="margin-left: -40px;">[ {{votes}} ] {{title}}</h4>
          </div>
          <div class="col-md-5">
            <span>
              {{#if isModerator}}
                <input id="removeNow" type="button" value="X" style="width: 50px;"/>
              {{/if}}
              <input id="upvoteButton" type="button" value="/\" style="width: 50px;"/>
              <input id="downvoteButton" type="button" value="\/" style="width: 50px;"/>
              {{#if isModerator}}
                <input id="playNow" type="button" value="PLAY" style="width: 50px;"/>
              {{/if}}
            </span>
          </div>
        </div>
        </a>
    {{/each}}
  {{/if}}
  </div>

  </div>
	{{/with}}

</template>

<template name="sourceSelect">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <select id="src" class="dropdown" style="margin-top: 15px;">
    <option value="youtube">YouTube</option>
    <option value="soundcloud">SoundCloud</option>
  </select>
</template>

<template name="qrCode">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <button type="button" class="socialbutton">QR Code</button>
    <div class="showQr" hidden = "true;">
      {{> QrCode text=getCurrentUrl }}
    </div>
</template>

<template name="searchBox">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <input type="text" class="search" id="search-box" placeholder="search YouTube here">
  <div class="list-group" hidden = "true;">
  {{#each getSearchResults}}
      <a href="#" class="list-group-item">
      <div class="row">
        <div class="col-md-1">
          {{#if isYoutube}}
          <img src="{{snippet.thumbnails.default.url}}" class="img-responsive"/>
          {{else}}
          <img src="{{artwork_url}}" class="img-responsive"/>
          {{/if}}
        </div>
        <div class="col-md-11">
          {{#if isYoutube}}
          <h4 class="list-group-item-heading">{{snippet.title}}</h4>
          {{else}}
          <h4 class="list-group-item-heading">{{title}}</h4>
          {{/if}}
        </div>
      </div>
        </a>
    {{/each}}
    </div>
</template>

<template name="prepopulate">
	<button type="button" id="populate-button" class="suggestionButton">Populate Queue</button>
</template>

<template name="suggestionModal">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<button type="button" id="largeCreate" class="suggestionButton" data-toggle="modal" data-target="#myModal2">Song Suggestions</button>
<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id='rec-modal'>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="false">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Suggested Songs</h4>
      </div>
      <div class="modal-body" id="modal">        
       	<div class="rec-list-group">
  			{{#each getRecSearchResults}}
      		<a href="#" class="rec-list-group-item" data-dismiss="modal" data-backdrop="false">
		      <div class="row">
  		      <div class="col-md-1">
    		      <img src="{{snippet.thumbnails.default.url}}" class="img-responsive"/>
        		</div>
        		<div class="col-md-11">
          		<h3 class="rec-list-group-item-heading">{{snippet.title}}</h3>
        		</div>
      		</div>
        	</a>
    		{{/each}}
    		</div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

</template>

<template name="Moderator">

  <div id="player"></div>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{#unless isYoutube source}}<img src="{{thumbnail}}" class="playerimg" style="width: 480px; height: 480px;">{{/unless}}
  <br>
  <span>
    <input id="playPauseButton" class="playskip" type="button" value="Pause"/>
    <input id="skipButton" class="playskip" type="button" value="Skip"/>
    <input id="CloseRoom" type="button" class="playskip" value="Close Room">
  </span>

  <script type="text/javascript" src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js">
  
  </script>

  <script type="text/javascript">
    var sound;
    function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.ENDED) {
        var channelId = FlowRouter.getParam('id');
        var song = Song.getLatest(channelId).fetch()[0];
        var next = Template.channel.__helpers[" nextS"]();
      
        var hist = new History();
        hist.set("title", song.title);
        hist.set("videoID", song.videoID);
        hist.set("thumbnail", song.thumbnail);
        hist.set("source", song.source); 
        hist.set("channelID", song.channelID);
  
        Meteor.call('/history/new', hist, function(err, res){});
        Meteor.call('/song/remove', Song.getLatest(channelId).fetch()[0], function(err, res) { 
          if (err) {}
            if (next != null) {
              next.set("currentlyPlaying", true);
              Meteor.call('/songs/currentlyPlaying', next);
              if (next.source == 'youtube') {
                player.loadVideoById(next.videoID, 0, "default");
                player.playVideo();
              } else {
                sound.pause();
                playSoundcloud(next.videoID);
              }
            }
        });
      }
    }

    function playPauseClick(){
      var button = document.getElementById("playPauseButton");
        if(button.value == "Pause"){
          button.value = "Play";
          if ("{{source}}".trim() == 'youtube')
            player.pauseVideo();
          else
            sound.pause();
        }
        else{
        button.value = "Pause";
        if ("{{source}}".trim() == 'youtube')
          player.playVideo()
        else
          sound.play();
      }

    }
    function playSoundcloud(vid) {
      SC.initialize({
        client_id: 'ee340a5bed9ea7336003102356efeaa9'
      });
      if (vid) {
        SC.stream('/tracks/' + vid).then(function(obj){
        obj.play();
        obj.on(
          'finish',
          function() {
            var channelId = FlowRouter.getParam('id');
            var song = Song.getLatest(channelId).fetch()[0];
            var next = Template.channel.__helpers[" nextS"]();
            
            var hist = new History();
            hist.set("title", song.title);
            hist.set("videoID", song.videoID);
            hist.set("thumbnail", song.thumbnail);
            hist.set("source", song.source); 
            hist.set("channelID", song.channelID);
            
            Meteor.call('/history/new', hist, function(err, res){});
            Meteor.call('/song/remove', Song.getLatest(channelId).fetch()[0], function(err, res) { 
              if (err) {}
              if (next != null) {
                next.set("currentlyPlaying", true);
                Meteor.call('/songs/currentlyPlaying', next);
                if (next.source == 'youtube') {
                  if (player != null) {
                    player.loadVideoById(next.videoID, 0, "default");
                    player.playVideo();
                  }
                } else {
                  sound.pause();
                  playSoundcloud(next.videoID);
                }
              }
            });
          }
        );
        sound = obj;
      });
      } else {
        SC.stream('/tracks/{{videoId}}').then(function(obj){
          obj.play();
          obj.on(
            'finish',
            function() {
              var channelId = FlowRouter.getParam('id');
              var song = Song.getLatest(channelId).fetch()[0];
              var next = Template.channel.__helpers[" nextS"]();
              
              var hist = new History();
              hist.set("title", song.title);
              hist.set("videoID", song.videoID);
              hist.set("thumbnail", song.thumbnail);
              hist.set("source", song.source); 
              hist.set("channelID", song.channelID);
              
              Meteor.call('/history/new', hist, function(err, res){});
              Meteor.call('/song/remove', next, function(err, res) { 
                if (err) {}
                if (next != null) {
                  next.set("currentlyPlaying", true);
                  Meteor.call('/songs/currentlyPlaying', next);
                  if (next.source == 'youtube') {
                    if (player!= null) {
                      player.loadVideoById(next.videoID, 0, "default");
                      player.playVideo();
                    }
                  } else {
                    sound.pause();
                    playSoundcloud(next.videoID);
                  }
                }
              });
            }
          );
          sound = obj;
        });
      }
    }
  </script>

  {{#if isYoutube source}}

  <script>

  document.getElementById("player").hidden = false;
    var tag = document.createElement('script');
  
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  
    var player;
    var height;
    var width;
    var psize;
    {{#if isMobile}} 
      height = '270';
      width = '480';
      document.getElementById("next").hidden = true;
      document.getElementById("largeCreate").hidden = true;
      document.getElementById("history").hidden = true;
      document.getElementById("playerbod").hidden = true;
      document.getElementById("upcoming").hidden = true;
      document.getElementById("twidget").hidden = true;
      document.getElementById("populate-button").hidden = true;
      
    {{else}}
      height = '270';
      width = '480';
    {{/if}}

    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        height: height,
        width: width,
        videoId: '{{videoId}}',
        playerVars: {
          'autoplay': 1,
          'controls': 0,
          'disablekb': 1,
          'enablejsapi': 1,
          'rel': 0,
        },
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }

    function onPlayerReady(event) {
      event.target.playVideo();
    }

  </script>
  {{else}}
  <script type="text/javascript">
      {{#if isMobile}} 
        document.getElementById("next").hidden = true;
      document.getElementById("largeCreate").hidden = true;
        document.getElementById("history").hidden = true;
        document.getElementById("playerbod").hidden = true;
        document.getElementById("upcoming").hidden = true;
        document.getElementById("twidget").hidden = true;
        document.getElementById("populate-button").hidden = true;

      
      {{else}}
        
      {{/if}}
      document.getElementById("player").hidden = true;
      var tag = document.createElement('script');
      tag.src = "https://connect.soundcloud.com/sdk/sdk-3.0.0.js";
      tag.type = 'text/javascript';
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      tag.onload = function() {
        SC.initialize({
          client_id: 'ee340a5bed9ea7336003102356efeaa9'
        });
        {{#unless isYoutube source}}
        playSoundcloud();
        {{/unless}}
      }
    
  </script>
  {{/if}}
  <!--{{> myButtons}}-->
</template>

