<template name="channel">
    {{#with channel}}
    <div class=playerbody>
      <section>
        <div class="headleft">
          <h1 class="roomtitle">{{title}}</h1>
          <h4 class="roomdesc">{{query}}</h4>
         </div>
       <div class="headright" style="float:right;">
          <input type="text" name="search" class="textbox" placeholder="Request Song..."><p></p>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Listening to {{title}} on DJ-Cast" data-via="djcast_">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
      </section>

        <div class="player">

        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-backward"></span>
        </a>
        <img src="http://www.billboard.com/files/styles/gallery_main_well_2/public/media/M-I-A-Kala-album-covers-billboard-1000x1000.jpg" class="playerimg">
        <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-forward "></span>
        </a>

        <div class="playermeta">
        <h3 class="songname">Paper Planes</h3>
        <p class="artistalbum">M.I.A., 'Kala' (2007) - M.I.A.</p>
        </div>
        </div>
      </div>
	{{/with}}
</template>


<template name="searchBox">
  <input type="text" id="search-box" placeholder="search youtube here">
  <div class="list-group">
  {{#each getSearchResults}}
      <a href="#" class="list-group-item">
      <div class="row">
        <div class="col-md-1">
          <img src="{{snippet.thumbnails.default.url}}" class="img-responsive"/>
        </div>
        <div class="col-md-11">
          <h4 class="list-group-item-heading">{{snippet.title}}</h4>
        </div>
      </div>
      </a>
  {{/each}}
  </div>
</template>
