<template name="home">
  <div id="channels-list" class="list-group">
    {{#each channels}}
      <div class="row channel-row list-group-item">
        <div class="pull-left">
          <a href="/channels/{{_id}}">
            <h4 class="list-group-item-heading">{{title}}</h4>
            <p class="list-group-item-text">{{query}}</p>
          </a>
        </div>
        <div class="pull-right">
          {{> subscribeButton}}
        </div>
      </div>
    {{/each}}
  </div>
</template>

<template name="subscribeButton">
  {{#if subscribed}}
    <button id="unsubscribe" type="submit" class="{{#unless currentUser}}disabled{{/unless}} btn btn-primary">Unsubscribe</button>
  {{else}}
    <button id="subscribe" type="submit" class="{{#unless currentUser}}disabled{{/unless}} btn btn-primary">Subscribe</button>
  {{/if}}
</template>