<template name="openchannels">

<div>
  <ul class="openchannellist">
    <li class="openchannel"> 
      <div>
        <h3 class="channeltitle">Miranda's Room</h3>
        <h4 class="channeldesc">The best room ever.</h4>
      </div>
    </li>
    <li class="openchannel">
      <div>
        <h3 class="channeltitle">Katie's Room</h3>
        <h4 class="channeldesc">Not as good as Miranda's.</h4>
      </div>
    </li>
    <li class="openchannel">
      <div>
        <h3 class="channeltitle">Danny's Room</h3>
        <h4 class="channeldesc">Hey.</h4>
      </div>
    </li>
    <li class="openchannel">4</li>
    <li class="openchannel">5</li>
    <li class="openchannel">6</li>
    <li class="openchannel">7</li>
    <li class="openchannel">8</li>
    <li class="openchannel">9</li>
  </ul>
</div>

</template>