/* CSS declarations go here */
body {
  padding-top: 70px;
}

.navbar-nav > li > .input-group {
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #E4E4E4;
}

.page-padding {
	padding-top: 5em;
}
