h7.channeltitle {

	text-align: center;
    text-transform: lowercase;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px black;
    
}

h8.channeldesc {
    text-align: center;
    text-transform: lowercase;
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
    -webkit-text-stroke: 1px black;
}




.openchannellist {
    max-width: 100%;
    height: auto;
}

.openchannel {
    display: inline-block;
    float: left;
    width: 200px;
    height: 200px;
    background: black;
    z-index: 0;
    margin: 10px;
    transition: all .15s ease-in-out;
    border-radius: 25px;
    padding: 20px;
}

.openchannel:hover {
    background: #bec1c1;
    z-index: 100;
    transform: scale(1.2,1.2);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
}